In [1]:
from databricks.connect import DatabricksSession
from pyspark.sql import functions as F

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

spark = DatabricksSession.builder.getOrCreate()

In [4]:
df = spark.read.table('my_workspace.my_test_dlt_dev.t1')
display(df)
df.count()

DataFrame[CustomerID: bigint, SalesOrderNumber: string, FirstName: string, LastName: string]

32